* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.split {
  display: flex;
}

#left-side {
  background: rgb(170, 75, 75);
  width: 30%;
  font-family: sans-serif;
  color: rgb(100, 14, 14);
}

#left-content {
  margin: 25% auto;
  width: 80%;
}

#title {
  font-size: 5vw;
}

#description {
  margin-top: 1rem;
  font-size: 2vw;
}

#right-side {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("img/person-studying.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 70%;
}

#right-content {
  font-family: sans-serif;
  margin: 12% auto;
  width: 60%;
  color: rgb(170, 75, 75);
}

#survey-form {
  font-size: 1.75rem;
  font-weight: bold;
}

#survey-form .input {
  background: transparent;
  display: block;
  width: 70%;
  margin: 5px 0 50px 0;
  padding: 10px 0 10px 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(170, 75, 75);
  outline: none;
  font-size: 1rem;
  color: #fff;
}

::placeholder {
  color: #fff;
}

label {
  display: block;
}

#dropdown {
  width: 100%;
  margin: 15px 0 50px 0;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(170, 75, 75);
  outline: none;
  font-size: 1rem;
  color: #fff;
}

#dropdown option {
  color: #000;
}

#radio {
  margin-bottom: 40px;
}

.input-radio {
  margin-right: 10px;
}

#radio label {
  font-size: 22px;
}

#radio p {
  margin-bottom: 15px;
}

.input-checkbox {
  margin-right: 10px;
}

#checkbox p {
  margin-bottom: 15px;
}

#checkbox label {
  font-size: 22px;
}

#comments-container {
  margin-top: 40px;
}

#comments {
  background: rgba(255, 255, 255, 0.6);
  margin-top: 15px;
  width: 100%;
  height: 30vh;
  outline: none;
  font-size: 22px;
}

.submit-button {
  display: block;
  margin: 20px auto;
  width: 100%;
  background: rgb(100, 14, 14);
  border: none;
  padding: 10px 0;
  color: #fff;
  font-size: 22px;
}

@media only screen and (max-width: 700px) {
  .split {
    flex-flow: column;
  }

  #left-side {
    width: 100%;
  }

  #right-side {
    width: 100%;
  }

  #title {
    font-size: 10vw;
  }

  #description {
    margin-top: 1rem;
    font-size: 4vw;
  }
  #right-content {
    width: 80%;
  }

  #survey-form,
  #comments {
    font-size: 1.125rem;
  }

  #checkbox label,
  #radio label,
  .submit-button {
    font-size: 1rem;
  }
}
